<div class="col-xs-12 col-md-8">

	<%= image_tag @user.avatar.url(:medium) %>
	
  <p><h2><%= current_user.first_name %>'s Profile</h2></p>
</div>


<div class="col-xs-12 col-md-4">
  <aside>
    <h3>Manage Your Account</h3>
    <ul>
      <li><%= link_to "Edit Account", edit_user_registration_path %></li>
      <li><%= link_to "Delete Account", cancel_user_registration_path %></li>
    </ul>
  </aside>
</div>