      <div class="jumbotron">
        <h1>Dev, Meet Boot Face</h1>
        <p class="lead">Share your ideas, comment on others'</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>